// your style goes here

// 覆盖字体路径变量，以防止编译出错
// 1.0.0-rc.1 有点小问题，需要手动删掉
//    node_modules/amazeui-touch/scss/amazeui.touch.scss 中的 `$ratchicons-path: 'fonts/';` 这一行
// @see https://github.com/jtangelder/sass-loader#problems-with-url
$ratchicons-path: "../../node_modules/amazeui-touch/fonts/";

@import "~amazeui-touch/scss/amazeui.touch.scss";

/* Container `fade` 动画示例 */
.view-transition-fade-enter {
  opacity: 0.01;
}

.view-transition-fade-enter.view-transition-fade-enter-active {
  opacity: 1;
  transition: opacity 450ms ease-in;
}

.view-transition-fade-leave {
  opacity: 1;
}

.view-transition-fade-leave.view-transition-fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}


//----------------------- 自己添加的样式
// 空时 loader
.cy-empty-loader {
  width: 100%;
  margin-top: 100px;
}

//显示在 底部 的 button
//.cy-bottom-button {
//  position:fixed;
//  bottom:0;
//}

.cy_list_item {
  margin-top: 10px;
}

//朋友圈 顶部的 背景图
.cy-header-bgimg {
  width: 100%;
  height: 230px;
}
//朋友圈 顶部的 头像
.cy-header-img {
  position:relative;
  width: 80px;
  height: 80px;
  right: -20px;
  top:-40px;
  z-index:2;
}
//朋友圈 顶部的 名字
.cy-header-name {
  position:relative;
  right:-30px;
  top:-60px;
  z-index:2;
}
//朋友圈 顶部下面的list主体
.cy-circle-tebleview {
  position:relative;
  top:-60px;
}
//朋友圈list中 标注的 类型(如:卖车信息)
.cy-catid-text {
  color: rgba(255, 0, 20, 0.74);
}
//朋友圈detail中 标注的 类型(如:卖车信息)
.cy-catid-detail-text {
  width: 100%;
  text-align: center;
  color: rgba(255, 0, 20, 0.74);
}
//最下面的小字(如:地址)
.cy-sub-text {
  color: rgba(72, 79, 77, 0.74);
  font-size: smaller;
}

//朋友圈里面的 照片
.cy-circle-img {
  margin: 1px;
}

//朋友圈 detail的 名字
.cy-cricel-detail-name {
  position:relative;
  right:-80px;
  top:-65px;
  z-index:2;
}

//朋友圈 detail的 时间
.cy-cricel-detail-time {
  position:relative;
  right:-80px;
  top:-75px;
  z-index:2;
  color: rgba(72, 79, 77, 0.74);
  font-size: smaller;
}

//朋友圈 header下面的部分
.cy-cricel-detail-main {
  position:relative;
  top:-50px;
  z-index:2;
}
//朋友圈detail中 提示 还没有评论,快抢沙发
.cy-detail-eva-text {
  width: 100%;
  text-align: center;
  color: rgba(10, 66, 184, 0.74);
}

.my-footer {
  width: 100%;
  text-align: center;
}
